@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #eef2ff, #f3e8ff);
  min-height: 100vh;
}
.glass {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}